<div class="modal fade" id="ModalLoading" style="background-color: transparent; border: none; top: 200px;">
    <div class="modal-dialog" style="background-color: transparent; border: none; text-align: center; ">
        @*<img src=" @system.configuration.configurationsettings.appsettings["strlocalexecucao"].tostring()content />Imagens/contrate-sites-loading.gif" width="100" height="100" class="center-block" />*@
        <img src="~/Content/imagens/loading.gif" style="height: 100px; width: 100px;" />
    </div>
</div>